*{
  margin: 0;
  padding: 0;
  border: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Cuprum', sans-serif;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
:root{
  --main-color: #FFE375e8;
  --second-color: #ffffffe8;
  --nav-height: 70px;
  --img-height: 92%;
  --grid-color2: #FFE7DE;
  --grid-color1: #CEF2F7;
  --nav-hover-color: #ffdd59e8;
  --font-color: #432E21;
  --gradient-color1: #FBAB7E;
  --gradient-color2: #F7CE68;
}

/* Styling Header */
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: calc(var(--nav-height)/10);
  z-index: 10;
}
.navbar{
  height: 10em;
  overflow-x: hidden;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar a{
  text-decoration: none;
  color: var(--second-color);
  font-size: 4em;
}

.nav-link{
  background-color: var(--main-color);
  /* background: var(--main-color); */
  width: 16.9em;
  height: 5.5em;
  border-radius: 10px;
  transition: 0.3s;
}

/* Styling About */
.about{
  height: calc(100vh - var(--nav-height));
  background-color: var(--main-color);
  margin-top: var(--nav-height);
  display: flex;
  scroll-snap-align: end;
}
.about-text{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.about-img{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.about-img img{
  height: var(--img-height);
  width: calc(var(--img-height)*1.01666)%;
  max-width: 50vw;
}
.about-text-top p{
  font-size: 5rem;
  color: var(--second-color);
  margin-left: 15vw;
}
.about-text-top h1{
  font-size: 7rem;
  font-weight: normal;
  color: var(--second-color);
  margin-left: 15vw;
}
.about-text-bottom p{
  font-size: 2rem;
  margin-left: 15vw;
  margin-bottom: -1.2rem;
  letter-spacing: 0.3rem;
  color: #a19790;
  /* opacity: 0.5; */
}
.about-text-bottom h2{
  font-size: 7rem;
  margin-left: 15vw;
  color: var(--font-color);
}
.about-text-bottom{
  background-color: var(--second-color);
  padding: 1.5rem;
  padding-left: 0;
  padding-right: 1.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Media Queries for About */
@media (max-width: 950px) {
  .about p, .about h1, .about h2{
    margin-left: 0;
  }
  .about{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .about-text, .about-img{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .about-img{
    height: calc(65vh - var(--nav-height));
  }
  .about-text{
    height: 35vh;
  }
  .about-text-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 10px;
    padding: 3rem;
  }
  .about-text-top p::after{
    content: " --------";
    letter-spacing: -2px;
  }
  :root{
    --img-height: 100%;
  }
  .about-img{
    align-items: flex-end;
  }
  .about-img img{
    object-fit: cover;
    width: 80vw;
    max-width: 80vw;
    height: auto;
  }

}
@media (max-width: 450px) {
  .about p, .about h1, .about h2{
    margin-left: 0;
  }
  .about{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .about-text, .about-img{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .about-img{
    height: calc(65vh - var(--nav-height));
  }
  .about-text{
    height: 35vh;
  }
  .about-text-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 10px;
    padding: 3rem;
  }
  .about-text-top p::after{
    content: " --------";
    letter-spacing: -2px;
  }
  :root{
    --img-height: 100%;
  }
  .about-img{
    align-items: flex-end;
  }
  .about-img img{
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: var(--img-height);
  }

}
@media (max-width: 600px) and (min-width: 500px) and (min-height: 700px) {
  :root{
    font-size: 7px;
  }
  .about-img img{
    width: 73vw;
    max-width: 73vw;
  }
}


/* Styling Projects */
.projects{
  background-color: var(--main-color);
  display: flex;
  overflow: hidden;
  scroll-snap-align: end;
}
.projects .img-div{
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.projects .img-div img{
  width: 100%;
  max-height: 90vh;
  object-fit: contain;
}
.projects .text-div{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects .heading h2{
  font-size: 5rem;
  font-weight: normal;
  color: var(--font-color);
}
.projects .heading{
  width: 80%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-radius: 10px;
  background-color: var(--second-color);
  display: grid;
  place-items: center;
}
.project-grid{
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  align-content: flex-end;
  gap: 5px;
  width: 80%;
  height: 70vh;
  flex-wrap: wrap;

}
.project-grid .project{
  width: 49.5%;
  height: 45%;
  background-color: gray;
}

/* Media Queries for Project */
@media (max-width: 950px) {
  .projects{
    flex-direction: column-reverse;
  }
  .projects .text-div{
    width: 100%;
  }
  .projects .img-div{
    /* display: none; */
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 30vh;
    position: relative;
    bottom: 10vw;
  }
  .projects .img-div img{
    max-height: 55vh;
  }
  .projects .project-grid{
    width: 90%;
    height: 50vh;
    align-content: center;
  }
}

/* Styling Contact */
.contact{
  height: calc(100vh - var(--nav-height));
  background-color: var(--main-color);
  display: flex;
  overflow: hidden;
  scroll-snap-align: end;
}
.contact .img-div{
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact .img-div img{
  width: 100%;
  max-height: 85vh;
  object-fit: contain;
}
.contact .contact-div{
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.contact .heading h2{
  font-size: 5rem;
  font-weight: normal;
  color: var(--font-color);
}
.contact .heading{
  width: 80%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-radius: 10px;
  background-color: var(--second-color);
  display: grid;
  place-items: center;
  max-width: 60rem;
}
.contact .socials{
  display: flex;
  /* flex-direction: column; */
  width: 80%;
  max-width: 60rem;
  /* min-width: 30rem; */
  /* height: 70vh; */
  justify-content: space-evenly;

}
/*Below Some Changes*/
.contact .contact-div{
  gap: 0;
}
.contact .contact-div .heading{
  border-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.contact .contact-div .socials{
  height: 27vh;
}
.contact .contact-div .socials .social-icon{
  height: 35%;
  justify-content: center;
}
.socials .left{
  width: 50%;
}
.socials .right{
  width: 50%;
}
.social-icon{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;

}
.social-icon i{
  font-size: 8rem;
  width: 9rem;
  color: var(--font-color);
}
.social-icon p{
  font-size: 2.5rem;
  color: var(--font-color);
}
.socials .color1{
  background-color: var(--grid-color1);
}
.socials .color2{
  background-color: var(--grid-color2);
}
.socials a{
  text-decoration: none;
  color: inherit;
}

/* Media Queries for Contact */
@media (max-width: 950px) {
  .contact{
    flex-direction: column-reverse;
  }
  .contact .img-div{
    width: 100%;
  }
  .contact .contact-div{
    width: 100%;
    gap: 0;
  }
  .contact .contact-div .heading{
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .contact .contact-div .socials{
    height: 27vh;
  }
  .contact .contact-div .socials .social-icon{
    height: 35%;
    justify-content: center;
  }
  .contact .img-div{
    /* display: none; */
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 30vh;
    position: relative;
    bottom: 10vw;
    height: 50vh;
  }
  .contact .img-div img{
    max-height: 55vh;
  }
}


/* Styling Product Images */
.project img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Adding Media Queries */

@media (max-width: 950px) {
  :root{
    --nav-height: 70px;
  }
  html{
    font-size: 10px;
  }

}
@media (max-width: 450px) {
  :root{
    --nav-height: 50px;
  }
  html{
    font-size: 5.7px;
  }
}


/* Hover Effects */
.navbar .nav-link:hover{
  background-color: var(--nav-hover-color);
}
.project-grid .project:hover img{
  box-shadow:0px 0px 5px 2px rgba(0,0,0,0.3);
  filter: blur(2px);
}
.socials .social-icon:hover{
  box-shadow:0px 0px 5px 2px rgba(0,0,0,0.3) inset;
}
.project-grid .project:hover .project-desc{
  opacity: 1;
}


.project{
  position: relative;
}
.project-desc{
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--second-color);
  opacity: 0;
  transition: 0.3s;
}


/* Styling Background */

/* Uncomment Below to keep a constant background. */
/* .container{
  background-color: #FBAB7E !important;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%) !important;
} */
.about, .contact, .projects{
  background-color: none;
  background: none;
  background-image: none;
}

.nav-link {
  position: relative;
  background: #FFE375;
  background-image: linear-gradient(
    to right,
    var(--gradient-color1) 0px,
    var(--gradient-color2) 130%
  );
  z-index: 1;
}

.nav-link::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    var(--gradient-color1),
    var(--gradient-color2)
  );
  z-index: -1;
  transition: opacity 0.3s linear;
  opacity: 0;
}

.nav-link:hover::before {
  opacity: 1;
}


/* Styling BKG */
.bkg{
  position: fixed;
  top: calc((100vh - 500vw)/2);
  left: calc((100vw - 500vw)/2);
  width: max(500vw, 500vh);
  height: max(500vw, 500vh);
  background: linear-gradient(90deg, var(--gradient-color1), var(--gradient-color2));
  z-index: -1;
  transform-origin: center center;
  animation: 5s linear infinite transit;

}
@media (min-width: 1000px) {
  .bkg {
    top: calc((100vh - 150vw)/2);
    left: calc((100vw - 150vw)/2);
    width: max(150vw, 150vh);
    height: max(150vw, 150vh);
  }
}

@keyframes transit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* *{
  box-sizing: border-box;
} */

html{
  background: #FFE375e8;
}
body{
  -webkit-overflow-scrolling: touch;
}
html,body {
  scroll-snap-type: y mandatory;
}

.about, .contact, .projects{
  margin: 0;
  padding-top: var(--nav-height);
  box-sizing: border-box;
  min-height: 100vh;
}

.projects .img-div{
  z-index: 2;
}
